@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Montserrat;
}

#main_wrapper {
  position: relative;
  display: block;
  max-width: 1000px;
  width: 90%;
  margin: 0px auto;
}

section.phone_header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
section.phone_header img.logo {
  width: 60px;
}
section.phone_header nav.phone_nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
section.phone_header nav.phone_nav ul li a {
  color: #000000;
  font-size: 24px;
  transition: 0.1s all ease;
}
section.phone_header nav.phone_nav ul li a:hover {
  transition: 0.1s all ease;
  opacity: 0.7;
}

section.desktop_header {
  display: none;
}

section.order_scheme {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
  background-color: #ffffff;
}
section.order_scheme header.header_image {
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  background-image: url("../images/sea-4768869_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
section.order_scheme section.scheme {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 8px;
  background-color: #ffffff;
}
section.order_scheme section.scheme article.breadceumbs {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: end;
  margin-bottom: 2rem;
}
section.order_scheme section.scheme article.breadceumbs i.indicator {
  position: absolute;
  padding-left: 20px;
  padding-right: 10px;
  background: rgba(255, 255, 255, 0.9);
  font-size: 20px;
}
section.order_scheme section.scheme article.breadceumbs nav.breadcrumbs {
  width: 100%;
  height: auto;
  overflow-y: auto;
}
section.order_scheme section.scheme article.breadceumbs nav.breadcrumbs::-webkit-scrollbar {
  display: none;
}
section.order_scheme section.scheme article.breadceumbs nav.breadcrumbs ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
}
section.order_scheme section.scheme article.breadceumbs nav.breadcrumbs ul li {
  flex: 0 0 auto;
}
section.order_scheme section.scheme article.breadceumbs nav.breadcrumbs ul li.active {
  border-bottom: 3px solid #1ca2c1;
}
section.order_scheme section.scheme article.breadceumbs nav.breadcrumbs ul li a {
  color: #000000;
  font-weight: 500;
  text-decoration: none;
}
section.order_scheme section.scheme form.order_form {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto auto;
  grid-template-areas: "from from" "to to" "duration date" "travlers travlers" "search search";
}
section.order_scheme section.scheme form.order_form .from {
  grid-area: from;
}
section.order_scheme section.scheme form.order_form .to {
  grid-area: to;
}
section.order_scheme section.scheme form.order_form .duration {
  grid-area: duration;
}
section.order_scheme section.scheme form.order_form .date {
  grid-area: date;
}
section.order_scheme section.scheme form.order_form .travlers {
  grid-area: travlers;
}
section.order_scheme section.scheme form.order_form .search {
  grid-area: search;
}
section.order_scheme section.scheme form.order_form article select, section.order_scheme section.scheme form.order_form article input {
  display: block;
  height: 50px;
  width: 100%;
  border: 1px solid #9c9c9c;
  outline: none;
  padding: 0 10px;
  color: #9c9c9c;
}
section.order_scheme section.scheme form.order_form article {
  position: relative;
}
section.order_scheme section.scheme form.order_form article label {
  position: absolute;
  top: -8px;
  margin: 0 10px;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  background-color: #ffffff;
}
section.order_scheme section.scheme form.order_form input[type=submit] {
  height: 50px;
  background-color: #ffcf40;
  color: #000000;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 8px;
}

footer {
  width: 100%;
  height: auto;
  padding: 2rem;
  background-color: #252525;
  display: flex;
  flex-wrap: wrap;
}
footer section.flags {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}
footer section.flags article.flag {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 1rem;
}
footer section.flags article.flag img {
  width: 40px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
footer section.flags article.flag p {
  color: #ffffff;
  font-weight: 500;
}
footer section.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
  gap: 1rem;
}
footer section.content article {
  margin-bottom: 2rem;
}
footer section.content article h3 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 1rem;
}
footer section.content article a {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.1s all ease;
}
footer section.content article a:hover {
  opacity: 0.7;
  transition: 0.1s all ease;
}
footer section.content article.payment ul, footer section.content article.social_media ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
footer section.content article.payment ul li, footer section.content article.payment ul li a, footer section.content article.social_media ul li, footer section.content article.social_media ul li a {
  color: #ffffff;
  font-size: 28px;
}
footer section.content article.news form {
  padding: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  border: 1px solid #ffffff;
}
footer section.content article.news form label {
  position: absolute;
  top: -10px;
  background-color: #252525;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
footer section.content article.news form article.input_field {
  margin-bottom: 0;
}
footer section.content article.news form article.input_field input {
  height: 35px;
  border-radius: 8px;
  border: none;
  padding: 0 5px;
}
footer section.content article.news form article.input_field input[type=submit] {
  background-color: #ffcf40;
  font-weight: 800;
}
footer section.content article.service ul {
  list-style: none;
}

@media only screen and (min-width: 900px) {
  section.phone_header {
    display: none;
  }
  section.desktop_header {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */