@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Montserrat;
}

.wrapper {
  display: block;
  max-width: 1000px;
  width: 90%;
  margin: 0px auto;
}

section.phone_header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
section.phone_header img.logo {
  width: 60px;
}
section.phone_header nav.phone_nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
section.phone_header nav.phone_nav ul li a {
  color: #000000;
  font-size: 24px;
  transition: 0.1s all ease;
}
section.phone_header nav.phone_nav ul li a:hover {
  transition: 0.1s all ease;
  opacity: 0.7;
}

section.desktop_header {
  display: none;
}

section.order_scheme {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
  background-color: #ffffff;
}
section.order_scheme header.header_image {
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  background-image: url("../images/sea-4768869_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
section.order_scheme section.scheme {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.05);
}
section.order_scheme section.scheme article.breadceumbs_index {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: end;
  margin-bottom: 2rem;
}
section.order_scheme section.scheme article.breadceumbs_index i.indicator {
  position: absolute;
  padding-left: 20px;
  padding-right: 10px;
  background: rgba(255, 255, 255, 0.9);
  font-size: 20px;
}
section.order_scheme section.scheme article.breadceumbs_index nav.breadcrumbs_index {
  width: 100%;
  height: auto;
  overflow-y: auto;
}
section.order_scheme section.scheme article.breadceumbs_index nav.breadcrumbs_index ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
}
section.order_scheme section.scheme article.breadceumbs_index nav.breadcrumbs_index ul li {
  flex: 0 0 auto;
}
section.order_scheme section.scheme article.breadceumbs_index nav.breadcrumbs_index ul li.active {
  border-bottom: 3px solid #1ca2c1;
}
section.order_scheme section.scheme article.breadceumbs_index nav.breadcrumbs_index ul li a {
  color: #000000;
  font-weight: 500;
  text-decoration: none;
}
section.order_scheme section.scheme form.order_form {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto auto;
  grid-template-areas: "from from" "to to" "duration date" "travlers travlers" "search search";
}
section.order_scheme section.scheme form.order_form .from {
  grid-area: from;
}
section.order_scheme section.scheme form.order_form .to {
  grid-area: to;
}
section.order_scheme section.scheme form.order_form .duration {
  grid-area: duration;
}
section.order_scheme section.scheme form.order_form .date {
  grid-area: date;
}
section.order_scheme section.scheme form.order_form .travlers {
  grid-area: travlers;
}
section.order_scheme section.scheme form.order_form .search {
  grid-area: search;
}
section.order_scheme section.scheme form.order_form article select, section.order_scheme section.scheme form.order_form article input {
  display: block;
  height: 50px;
  width: 100%;
  border: 1px solid #9c9c9c;
  outline: none;
  padding: 0 10px;
  color: #9c9c9c;
}
section.order_scheme section.scheme form.order_form article {
  position: relative;
}
section.order_scheme section.scheme form.order_form article label {
  position: absolute;
  top: -8px;
  margin: 0 10px;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  background-color: #ffffff;
}
section.order_scheme section.scheme form.order_form input[type=submit] {
  height: 50px;
  background-color: #ffcf40;
  color: #000000;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 8px;
}

section.campaign {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  max-width: 1000px;
  width: 100%;
  height: auto;
  padding: 2rem 0;
  background-image: url("../images/holiday-2733322_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
section.campaign article.content {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
section.campaign article.content a {
  margin-top: 1rem;
  text-decoration: none;
  font-weight: 800;
  color: #000000;
  border-radius: 8px;
  padding: 1rem;
  background-color: #ffcf40;
  text-align: right;
  transition: 0.1s all ease;
}
section.campaign article.content a:hover {
  transition: 0.1s all ease;
  opacity: 0.7;
}
section.campaign article.content article.box {
  padding: 3rem;
  background-color: #52d3f0;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
section.campaign article.content article.box h3 {
  font-size: 20px;
  font-weight: 800;
}
section.campaign article.content article.box p {
  margin-top: 1rem;
  font-weight: 500;
}
section.campaign article.content article.box h1 {
  font-size: 28px;
  font-weight: 800;
}

section.offers_row {
  width: 100%;
  height: auto;
  padding: 4rem 0;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
section.offers_row article.container {
  padding: 3rem;
  margin-left: 2px;
  flex: 0 0 auto;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.05);
}
section.offers_row article.container h3 {
  margin-bottom: 2rem;
  font-weight: 800;
}
section.offers_row article.container a {
  text-decoration: none;
  color: #1ca2c1;
  font-weight: 600;
  transition: 0.1s all ease;
}
section.offers_row article.container a:hover {
  transition: 0.1s all ease;
  opacity: 0.7;
}

section.inspiration {
  width: 100%;
  height: auto;
}
section.inspiration h2 {
  padding: 2rem 0;
}
section.inspiration section.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
section.inspiration section.container article.card {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.05);
}
section.inspiration section.container article.card figure.img {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
section.inspiration section.container article.card figure.img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
section.inspiration section.container article.card figure.img p.offer {
  position: absolute;
  margin-top: 0;
  left: 0;
  top: 0;
  padding: 1rem;
  background-color: #1ca2c1;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 2rem;
  color: #ffffff;
  font-weight: 700;
}
section.inspiration section.container article.card p, section.inspiration section.container article.card h3 {
  padding: 0 1rem;
}
section.inspiration section.container article.card h3 {
  margin-top: 1rem;
}
section.inspiration section.container article.card p {
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-weight: 500;
}
section.inspiration section.container article.card a {
  position: absolute;
  border-bottom: 3px solid #1ca2c1;
  border-bottom-left-radius: 8px;
  color: #000000;
  text-decoration: none;
  padding: 10px 5px;
  font-weight: 500;
  bottom: 0;
  left: 0;
}

section.gallery {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  height: 400px;
  position: relative;
}
section.gallery button.like_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  color: red;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.1s all ease;
  text-align: center;
}
section.gallery button.like_btn:hover {
  opacity: 0.7;
  transition: 0.1s all ease;
}
section.gallery button.arrow_left, section.gallery button.arrow_right {
  position: absolute;
  top: 50%;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: 0.1s all ease;
}
section.gallery button.arrow_left:hover, section.gallery button.arrow_right:hover {
  opacity: 0.7;
  transition: 0.1s all ease;
}
section.gallery button.arrow_left {
  left: 10px;
}
section.gallery button.arrow_right {
  right: 10px;
}
section.gallery button.more_imgs {
  position: absolute;
  bottom: 15px;
  right: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: 0.1s all ease;
}
section.gallery button.more_imgs:hover {
  opacity: 0.7;
  transition: 0.1s all ease;
}
section.gallery article.images {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
}
section.gallery article.images img {
  width: 100%;
  height: 100%;
}

nav.options {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  border-bottom: 2px solid #e8e8e8;
  margin-bottom: 4rem;
}
nav.options ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
nav.options ul li {
  padding: 1rem 1rem;
}
nav.options ul li a {
  text-decoration: none;
  color: #000000;
}
nav.options ul li a:hover {
  opacity: 0.7;
}
nav.options ul li.active {
  border-bottom: 3px solid #1ca2c1;
}
nav.options ul li.active a {
  color: #1ca2c1;
  font-weight: 800;
}

section.information h2.title {
  font-weight: 800;
  font-size: 26px;
}
section.information article.rating_info {
  margin: 2rem 0;
}
section.information article.rating_info ul {
  display: flex;
  list-style: none;
  gap: 10px;
  font-size: 20px;
  color: #ffcf40;
}
section.information article.rating_info h4 {
  margin: 1rem 0;
  font-size: 18px;
}
section.information article.rating_info h4 .rating {
  background-color: green;
  padding: 5px;
  border-radius: 8px;
  color: #ffffff;
  font-size: 12px;
  margin-right: 5px;
}
section.information article.rating_info a {
  font-size: 12px;
  text-decoration: none;
  color: #1ca2c1;
  font-weight: 500;
}
section.information article.rating_info a:hover {
  text-decoration: underline;
}
section.information article.facilities h3 {
  margin: 1rem 0;
}
section.information article.facilities p {
  margin: 2rem 0;
}
section.information article.facilities ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}
section.information article.facilities ul li {
  flex: 1 1 calc(50% - 1rem);
}
section.information article.facilities a {
  font-size: 12px;
  text-decoration: none;
  color: #1ca2c1;
  font-weight: 500;
}
section.information article.facilities a:hover {
  text-decoration: underline;
}
section.information article.explore h3 {
  margin-top: 2rem;
}
section.information article.explore .map {
  width: 100%;
  height: 250px;
}
section.information article.explore .map iframe {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
section.information article.rooms h3 {
  margin: 1rem 0;
}
nav.breadcrumbs {
  overflow-y: auto;
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  height: auto;
  background-color: #1ca2c1;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
nav.breadcrumbs ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  padding: 10px 0;
}
nav.breadcrumbs ul li {
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav.breadcrumbs ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 0 1rem;
  transition: 0.1s all ease;
}
nav.breadcrumbs ul li a:hover {
  opacity: 0.7;
  transition: 0.1s all ease;
}
nav.breadcrumbs ul i {
  font-size: 30px;
  color: #ffffff;
}

section.order_option h2 {
  margin-bottom: 2rem;
}
section.order_option article.my_choise {
  margin: 1rem 0;
}
section.order_option article.my_choise details {
  padding: 1rem;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.05);
}
section.order_option article.my_choise details summary {
  list-style: none;
}
section.order_option article.my_choise details article.card {
  width: 100%;
  margin-top: 1rem;
  height: auto;
}
section.order_option article.my_choise details article.card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.order_option article.my_choise details article.card h4 {
  text-align: center;
}
section.order_option article.my_choise details article.card ul.rating {
  display: flex;
  list-style: none;
  margin: 1rem 0;
  gap: 10px;
}
section.order_option article.my_choise details article.card ul.rating li {
  color: #ffcf40;
  font-size: 18px;
}
section.order_option article.my_choise details article.card ul.facilitis {
  list-style: none;
}
section.order_option article.my_choise details article.card ul.facilitis li {
  line-height: 30px;
}
section.order_option article.my_choise details article.card ul.facilitis li i {
  margin-right: 10px;
}
section.order_option article.my_choise.desktop {
  display: none;
}
section.order_option form {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}
section.order_option form button[type=submit] {
  padding: 1.3rem;
  font-weight: 800;
  font-size: 18px;
  background-color: #ffcf40;
  color: #000000;
  border: none;
  outline: none;
  border-radius: 8px;
  transition: 0.1s all ease;
  cursor: pointer;
}
section.order_option form button[type=submit]:hover {
  opacity: 0.7;
  transition: 0.1s all ease;
}
section.order_option form fieldset {
  border: none;
  outline: none;
}
section.order_option form .firstname {
  grid-area: firstname;
}
section.order_option form .lastname {
  grid-area: lastname;
}
section.order_option form .birthday {
  grid-area: birthday;
}
section.order_option form .gender {
  grid-area: gender;
}
section.order_option form .email {
  grid-area: email;
}
section.order_option form .phone {
  grid-area: phone;
}
section.order_option form .adress {
  grid-area: adress;
}
section.order_option form .zipcode {
  grid-area: zipcode;
}
section.order_option form .postal_code {
  grid-area: postal_code;
}
section.order_option form .country {
  grid-area: country;
}
section.order_option form fieldset.schema {
  padding: 1rem;
  position: relative;
  width: 100;
  background-color: #f6f5f1;
  margin-bottom: 2em;
  border-radius: 8px;
  grid-template-rows: 100%;
  grid-template-columns: auto;
}
section.order_option form fieldset.schema h3 {
  position: absolute;
  top: -13px;
}
section.order_option form fieldset.schema input {
  display: block;
  width: 100%;
  height: 40px;
  margin: 1rem 0;
  outline: none;
  border: none;
  padding: 0 5px;
}
section.order_option form fieldset.schema label {
  font-weight: 600;
}
section.order_option form fieldset.schema fieldset.birthday ul, section.order_option form fieldset.schema fieldset.gender ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}
section.order_option form fieldset.schema fieldset.birthday ul li, section.order_option form fieldset.schema fieldset.gender ul li {
  display: flex;
  align-items: center;
}
section.order_option form fieldset.schema fieldset.birthday ul li label, section.order_option form fieldset.schema fieldset.gender ul li label {
  margin-left: 10px;
}

footer {
  width: 100%;
  height: auto;
  padding: 2rem;
  background-color: #252525;
  display: flex;
  flex-wrap: wrap;
}
footer section.flags {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}
footer section.flags article.flag {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 1rem;
}
footer section.flags article.flag img {
  width: 40px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
footer section.flags article.flag p {
  color: #ffffff;
  font-weight: 500;
}
footer section.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
  gap: 1rem;
}
footer section.content article {
  margin-bottom: 2rem;
}
footer section.content article h3 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 1rem;
}
footer section.content article a {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.1s all ease;
}
footer section.content article a:hover {
  opacity: 0.7;
  transition: 0.1s all ease;
}
footer section.content article.payment ul, footer section.content article.social_media ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
footer section.content article.payment ul li, footer section.content article.payment ul li a, footer section.content article.social_media ul li, footer section.content article.social_media ul li a {
  color: #ffffff;
  font-size: 28px;
}
footer section.content article.news form {
  padding: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  border: 1px solid #ffffff;
}
footer section.content article.news form label {
  position: absolute;
  top: -10px;
  background-color: #252525;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
footer section.content article.news form article.input_field {
  margin-bottom: 0;
}
footer section.content article.news form article.input_field input {
  height: 35px;
  border-radius: 8px;
  border: none;
  padding: 0 5px;
}
footer section.content article.news form article.input_field input[type=submit] {
  background-color: #ffcf40;
  font-weight: 800;
}
footer section.content article.service ul {
  list-style: none;
}

@media only screen and (min-width: 900px) {
  section.phone_header {
    display: none;
  }
  section.desktop_header {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */