// ------------------------------------
//  Variables
// ------------------------------------

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$main_font: Montserrat;

// Colors
$light_blue: #52d3f0;
$blue: #1ca2c1;
$yellow: #ffcf40;
$bg_black: #252525;
$black: #000000;
$smoke_white: #e8e8e8;
$tinted_white: #f6f5f2;
$gray: #9c9c9c;
$white: #ffffff;
$green: #019101;

// Border redius
$border_redius: 8px;

// Box shadow
$box_shadow: 0px 0px 6px 2px rgb(0 0 0 / 5%);


// ------------------------------------
//  Global
// ------------------------------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $main_font;
}

// Wrappers
.wrapper {
    display: block;
    max-width: 1000px;
    width: 90%;
    margin: 0px auto;
}

// ------------------------------------
//  Header / Nav
// ------------------------------------

section.phone_header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    

    img.logo {
        width: 60px;
    }

    nav.phone_nav ul {
        display: flex;
        gap: 1rem;
        list-style: none;

        li a {
            color: $black;
            font-size: 24px;
            transition: .1s all ease;

            &:hover {
                transition: .1s all ease;
                opacity: .7;
            }
        }
    }
}

section.desktop_header {
    display: none;
}


// ------------------------------------
//  Index - Header & Order schema
// ------------------------------------

section.order_scheme {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: $border_redius;
    background-color: $white;

    header.header_image {
        display: block;
        position: absolute;
        width: 100%;
        height: 50%;
        background-image: url('../images/sea-4768869_1920.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    section.scheme {
        width: 100%;
        height: 100%;
        padding: 1rem;
        border-radius: $border_redius;
        background-color: $white;
        box-shadow: $box_shadow;

        article.breadceumbs {
            position: relative;
            display: flex;
            width: 100%;
            justify-content: end;
            margin-bottom: 2rem;
    
            i.indicator {
                position: absolute;
                padding-left: 20px;
                padding-right: 10px;
                background: rgba($color: #ffffff, $alpha: .9);
                font-size: 20px;
            }
    
            nav.breadcrumbs {
                width: 100%;
                height: auto;
                overflow-y: auto;
        
                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 1.5rem;
                    list-style: none;
        
                    li {
                        flex: 0 0 auto;
        
                        &.active {
                            border-bottom: 3px solid $blue;
                        }
        
                        a {
                            color: $black;
                            font-weight: 500;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        form.order_form {
            display: grid;
            gap: 1rem;
            grid-template-rows: auto auto;
            grid-template-areas: 
            "from from"
            "to to"
            "duration date"
            "travlers travlers"
            "search search";

            .from{grid-area: from;} .to{grid-area: to;} .duration{grid-area: duration;}.date {grid-area: date;} .travlers{grid-area: travlers;} .search{grid-area: search;}
            
            article select, article input {
                display: block;
                height: 50px;
                width: 100%;
                border: 1px solid $gray;
                outline: none;
                padding: 0 10px;
                color: $gray;
            }

            article {
                position: relative;

                label {
                    position: absolute;
                    top: -8px;
                    margin: 0 10px;
                    color: $black;
                    font-size: 14px;
                    font-weight: 500;
                    background-color: $white;
                }
            }

            input[type=submit] {
                height: 50px;
                background-color: $yellow;
                color: $black;
                font-weight: 600;
                border: none;
                outline: none;
                border-radius: $border_redius;
            }
        }
        
    }
}

// ------------------------------------
//  Index - Campaign
// ------------------------------------

section.campaign {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    max-width: 1000px;
    width: 100%;
    height: auto;
    padding: 2rem 0;
    background-image: url("../images/holiday-2733322_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    article.content {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;

        a {
            margin-top: 1rem;
            text-decoration: none;
            font-weight: 800;
            color: $black;
            border-radius: $border_redius;
            padding: 1rem;
            background-color: $yellow;
            text-align: right;
            transition: .1s all ease;

            &:hover {
                transition: .1s all ease;
                opacity: .7;
            }
        }

        article.box {
            padding: 3rem;
            background-color: $light_blue;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;

            h3 {
                font-size: 20px;
                font-weight: 800;
            }

            p {
                margin-top: 1rem;
                font-weight: 500;
            }

            h1 {
                font-size: 28px;
                font-weight: 800;
            }
        }
    }
}

// ------------------------------------
//  Index - Offers row
// ------------------------------------

section.offers_row {
    width: 100%;
    height: auto;
    padding: 4rem 0;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

    article.container {
        padding: 3rem;
        margin-left: 2px;
        flex: 0 0 auto;
        border-radius: $border_redius;
        box-shadow: $box_shadow;

        h3 {
            margin-bottom: 2rem;
            font-weight: 800;
        }

        a {
            text-decoration: none;
            color: $blue;
            font-weight: 600;
            transition: .1s all ease;

            &:hover {
                transition: .1s all ease;
                opacity: .7;
            }
        }
    }
}

// ------------------------------------
//  Index - Inspiration & Tips
// ------------------------------------

section.inspiration {
    width: 100%;
    height: auto;

    h2 {
        padding: 2rem 0;
    }

    section.container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        article.card {
            position: relative;
            width: 100%;
            height: auto;
            border-radius: $border_redius;
            box-shadow: $box_shadow;

            figure.img {
                position: relative;
                width: 100%;
                height: 300px;
                border-radius: $border_redius;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: $border_redius;
                }

                p.offer {
                    position: absolute;
                    margin-top: 0;
                    left: 0;
                    top: 0;
                    padding: 1rem;
                    background-color: $blue;
                    border-top-left-radius: $border_redius;
                    border-bottom-right-radius: 2rem;
                    color: $white;
                    font-weight: 700;
                }
            }

            p, h3 {
                padding: 0 1rem;
            }

            h3 {
                margin-top: 1rem;
            }

            p {
                margin-top: 3rem;
                margin-bottom: 5rem;
                font-weight: 500;
            }

            a {
                position: absolute;
                border-bottom: 3px solid $blue;
                border-bottom-left-radius: $border_redius;
                color: $black;
                text-decoration: none;
                padding: 10px 5px;
                font-weight: 500;
                bottom: 0;
                left: 0;
            }
        }
    }
}

// ------------------------------------
//  Order - breadcrumbs 
// ------------------------------------

nav.breadcrumbs {
overflow-y: auto;
width: 100%;
background-color: $blue;

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;

        li {
            flex: 0 0 auto;

            a {
                text-decoration: none;

                i {
                    
                }
            }
        }
    }
}

// ------------------------------------
//  Footer
// ------------------------------------

footer {
    width: 100%;
    height: auto;
    padding: 2rem;
    background-color: $bg_black;
    display: flex;
    flex-wrap: wrap;

    section.flags {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 100%;
        width: 100%;
        justify-content: center;
        gap: 1rem;
       
        article.flag {
            display: flex;
            align-items: center;
            height: 40px;
            gap: 1rem;

            img {
                width: 40px;
                object-fit: scale-down;
            }
            
            p {
                color: $white;
                font-weight: 500;
            }
        }
    }

    section.content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 2rem;
        gap: 1rem;

        article {
            margin-bottom: 2rem;
            
            h3 {
                text-transform: uppercase;
                color: $white;
                font-size: 16px;
                margin-bottom: 1rem;
            }

            a {
                color: $white;
                font-weight: 500;
                text-decoration: none;
                transition: .1s all ease;

                &:hover {
                    opacity: .7;
                    transition: .1s all ease;
                }
            }
        }

        article.payment, article.social_media {

            ul {
                list-style: none;
                display: flex;
                gap: 1rem;

                li, li a {
                    color: $white;
                    font-size: 28px;
                }
            }
        }

        article.news {
            
            form {
                padding: 1.5rem;
                margin-bottom: 1rem;
                position: relative;
                border: 1px solid $white;

                label {
                    position: absolute;
                    top: -10px;
                    background-color: $bg_black;
                    color: $white;
                    font-size: 14px;
                    font-weight: 500;
                }

                article.input_field {
                    margin-bottom: 0;

                    input {
                        height: 35px;
                        border-radius: $border_redius;
                        border: none;
                        padding: 0 5px;

                        &[type=submit] {
                            background-color: $yellow;
                            font-weight: 800;
                        }
                    }
                }
            }
        }
        
        article.service {
            ul {
                list-style: none;
            }
        }
    }
}

// ------------------------------------
//  Colors
// ------------------------------------





// ------------------------------------
//  Responsive
// ------------------------------------

@media only screen and (min-width: 900px) {

    section.phone_header {
        display: none;
    }

    section.desktop_header {
        display: block;
    }

}