// ------------------------------------
//  Variables
// ------------------------------------

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$main_font: Montserrat;

// Colors


// ------------------------------------
//  Global
// ------------------------------------

html, body {
    margin: 0;
    padding: 0;
    font-family: $main_font;
}

// Wrappers
#header_wrapper, #footer_wrapper {

}


// ------------------------------------
//  Header / Nav
// ------------------------------------

// ------------------------------------
//  Colors
// ------------------------------------

// ------------------------------------
//  Colors
// ------------------------------------
